<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>InfoGrabber</title>
    <meta name="description" content="Infograbber, a web app that detetcs your web client made by Seahaze Studios.">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster" rel="stylesheet">
</head>

<body>

    <div class="container fade-in">

        <p>
            <h1><strong>Your Browser Info</strong></h1>
            <h2><strong>Browser & OS:</strong></h2>
            <p><%=getBrowserInfo%></p>
            <h2><strong>IP Address:</strong></h2>
            <p><%=ip%></p>
        </p>
        <!DOCTYPE html>

        <footer>
            <div>
                <h1 class="footer">Made By <a href="https://github.com/Seahaze-Studios">Seahaze Studios</a></h1>
            </div>
        </footer>
    </div>
</html>